<div class='container-fluid'>
  <h1 class='title'>精算方法の選択</h1>

  <div class='row justify-content-center'>
    <%= link_to '全員で割り勘', calculations_total_path, class:'btn btn-primary btn-lg col-md-4'%>
  </div>

  <div class='row justify-content-center' id='ratio-btn'>
    <%= link_to '比率を指定して割り勘', calculations_ratio_path, class:'btn btn-primary btn-lg col-md-4'%>
  </div>
</div>

<script>
  const ratioButton = getElementById('ratio-btn')
  console.log(ratioButton)
</script>