.container-fluid
  h1.title
    | 登録情報
  .row.justify-content-center
    = link_to "グループの編集", groups_path, class:"btn btn-primary btn-lg col-md-2"
    = link_to "メンバーの編集", users_path, class:"btn btn-primary btn-lg col-md-2"
  table.table.table-striped.table-hover
    thead
      tr
        th.text-center[scope="col"]
          | #
        th.text-center[scope="col"]
          | メンバー名
        th.text-center[scope="col"]
          | グループ名
    tbody
      - @users.each_with_index do | user, index |
        tr

        th.text-center[scope="row"]
          =index+1
        td.text-center
          =user.name
        - if user.group
          td.text-center
            =user.group.name
        - else
          td.text-center
            | グループなし
