.container-fluid
  h1.title
    | 立て替え一覧
  .row.justify-content-center
    = link_to '立て替え登録', new_history_path, class:'btn btn-primary btn-lg col-md-4'
  .row
    .col
      table.table.table-striped.table-hover
        thead
          tr
            th.text-center[scope="col"]
              | 支払い者
            th.text-center[scope="col"]
              | 用途
            th.text-center[scope="col"]
              | 金額
        tbody
          - @histories.each do |history|
            tr

            td.text-center
              =history.user.name
            td.text-center
              =history.event
            td.text-center
              =history.price
              | 円
  .mt-100
    h2.title.mt-5
      | 総額：
      = @total
      |  円
