<div class='container-fluid'>
  <h1 class='title'>立て替え一覧</h1>
  <div class='row justify-content-center'>
    <%= link_to '立て替え登録', new_history_path, class:'btn btn-primary btn-lg col-md-4'%>
  </div>
</div>